@import "../../globals.sass";

$issue-margin-between: 5%;

.volume-issue-title {
  @include volume-issue-title();
  padding-bottom: 1.5%;
}

.titles {
  float: left;
  margin-top: 60px;
  position: fixed;
  font-family: $body-font;
  color: #394648;
  font-size: 18px;
  width: 15%;
  margin-left: 15px;
}

.individualTitles {
  margin-bottom: 10%;
  text-decoration: none;
  text-decoration-line: none;
}

.title {
  margin-bottom: 50px;
}

.articles {
  margin-left: 25%;
  float: left;
  font-family: $body-font;
  font-weight: lighter;
  font-size: 22px;
  letter-spacing: 0.01em;
  line-height: 48px;
  text-align: left;
  color: #394648;
  float: right;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: $issue-margin-between;

  .title {
    padding-top: 20px;
    margin: 20px 0px 0px 50px;
    font-family: $title-font;
    font-weight: normal;
    font-size: 38px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #394648;
  }

  .author {
    margin-bottom: 80px;
    margin-top: 15px;
    font-family: $title-font;
    margin-left: 50px;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #394648;
  }

  .break {
    height: 1px;
    background-color: $gray;
    width: 60%;
    margin-top: $issue-margin-between;
    margin-bottom: $issue-margin-between;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 60em) {
  .titles {
    display: none; 
  }
  .articles {
    margin-left: 10%;
  }
}