@import '../../globals.sass';

$issue-margin-between: 3%;

.volume-issue-title {
  @include volume-issue-title();
  padding-bottom: 1.5%;
}

.sidebar {
  float: left;
  margin-top: 45px;
  position: fixed;
  font-family: $body-font;
  font-size: 18px;
  width: 15%;
  margin-left: 15px;

  .current-issue {
    font-size: 24px;
    text-align: center;
  }
  a {
    color: #394648;
  }
}

.individual-titles {
  margin-bottom: 8%;
  text-decoration: none;
  text-decoration-line: none;
}

.title {
  margin-bottom: 50px;
}

.articles {
  margin-left: 25%;
  margin-right: 20%;
  float: left;
  font-family: $body-font;
  font-weight: lighter;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 32px;
  text-align: left;
  color: #394648;
  float: right;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: $issue-margin-between;

  .title {
    padding-top: 20px;
    margin: 20px 0px 0px 0px;
    font-family: $title-font;
    font-weight: normal;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #394648;
  }

  .author {
    margin-bottom: 40px;
    margin-top: 15px;
    font-family: $title-font;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #394648;
  }

  .break {
    height: 1px;
    background-color: $gray;
    width: 60%;
    margin-top: $issue-margin-between;
    margin-bottom: $issue-margin-between;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 60em) {
  .sidebar {
    display: none;
  }
  .articles {
    margin-left: 10%;
  }
}

.divider {
  height: 1px;
  background-color: $gray;
  width: 30%;
  margin-top: 8%;
  margin-bottom: 8%;
  margin-right: auto;
  margin-left: auto;
}
