@import "../../globals.sass";

$issue-margin-between: 3%;

.volume-issue-title {
  @include volume-issue-title();
  padding-bottom: 1.5%;
}

.issue {
  font-family: $main-font;
  margin-bottom: $issue-margin-between;

  .title {
    font-size: 1.2em;
    color: $gray;
    font-weight: 400;
  }

  .author {
    font-size: 0.7em;
    font-weight: 300;
    margin-bottom: 7px;
  }

  .body {
    font-weight: 300;
    font-size: 1em;
    white-space: pre-wrap;
  }

  .break {
    height: 1px;
    background-color: $gray;
    width: 60%;
    margin-top: $issue-margin-between;
    margin-right: auto;
    margin-left: auto;
  }
}