$dark-green: #408240;
$light-green: #78E88E;
$yellow: #78E88E;
$purple: #A381D1;
$gray: #394648;

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,900&display=swap');

$main-font: "Rubik", "Helvetica Neue"

@mixin non-draggable 
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;