$dark-green: #408240;
$light-green: #78E88E;
$yellow: #78E88E;
$purple: #A381D1;
$gray: #394648;

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,900&display=swap');

@import "../../../node_modules/react-quill/dist/quill.snow.css"

$main-font: "Rubik", "Helvetica Neue"

@mixin non-draggable 
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

@mixin volume-issue-title
  font-family: 'Helvetica Neue';
  color: #434343;
  font-weight: bold;
  font-size: 2.75em;

@mixin app-button
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
  background-color: $light-green;
  width: 110px;
  text-align: center;
  height: 30px;
  border-radius: 100px;
  line-height: 30px;
  cursor: pointer;

@mixin counter-bootstrap
  color: inherit !important;
  box-shadow: inherit !important;
  border: none !important;
  padding: 0 !important;
  font: inherit !important;
  cursor: pointer !important;
  outline: inherit !important;

  &:hover 
    background-color: $dark-green;
  