@import "../../globals.sass";

.add-issue {

  @mixin title-style {
    font-family: 'Helvetica Neue';
    color: #434343;
    font-weight: bold;
  }

  .title {
    @include title-style();

    font-size: 2.75em;

    input {
      @include title-style();

      border: none;
      font-size: 100%;
      width: 1.25em;

      &:focus {
        color: gray;
        outline-style: none;
      }
    }
  }


  .new-article {
    font-family: $main-font;
    margin-bottom:2%;

    input {
      display: block;
      margin-top: 2% !important;
      resize: none;
      border: 1px solid #ccc;
      box-sizing: border-box;
      font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
      padding: 8px;
      border-radius: 3px;

      &:focus {
        outline: none;
      }
    }

    .title {
      font-size: 1.4em;
      display: inline-block;
    }

    .delete {
      display: inline-block;
      margin-bottom: -0.6%;
      color: gray;
      margin-left: 0.5%;
      font-size: 2em;
      cursor: pointer;

      &:hover {
        color: #434343;
      }
    }

    .author {
      font-size: 1em;
      margin-top: 1% !important;
      margin-bottom: 2%;
    }

    .body {
      width: 80%;
      height: 30vh;
      min-height: 150px;
      font-weight: 300;
      font-size: 1em;
      resize: vertical;
      padding-bottom: 5%;
    }
  }
  
  .break {
    height: 1px;
    background-color: $gray;
    width: 60%;
    margin-top: 2.5%;
  }

  .add-button {
    align-self: center;
    color: gray;
    border: 1px dashed gray;
    padding: 2px 4px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 20%;
    cursor: pointer;

    &:hover {
      color: rgb(247, 247, 247);
      background-color: gray;
    }
  }
}